server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cardmanager
    username: cardmanager
    password: cardmanager
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/ess_relam
          jwk-set-uri: ${spring.security.oauth2.resourceserver.jwt.issuer-uri}/protocol/openid-connect/certs
      client:
        registration:
          oauth2-client-credentials:
            client-id: ess
            client-secret: E9WU7uB5hKlHB3vXgaiqJBFyrifsIhhc
            scope: openid, profile, roles
            authorization-grant-type: password
        provider:
          keycloak:
            realm: ess_relam
            issuer-uri: http://localhost:8080/realms/ess_relam
            token_endpoint: http://localhost:8080/realms/ess_relam/protocol/openid-connect/token
            serverUrl: http://localhost:8080/
            username: ali
            password: ali

logging:
  level:
    com.teknokote: INFO
    org.apache: INFO
    org.apache.tomcat.util.net.NioEndpoint: INFO
    org.springframework.security.web: INFO
  file: cardmanager.log